/* SubjectForm.css */

.subject-form {
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subject-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subject-inputs div {
  display: flex;
  flex-direction: column;
}

.subject-form label {
  font-weight: normal;
  margin-bottom: 5px;
}

.subject-form input {
  font-size: 16px;
  padding: 10px;
  border: none; /* Remove the border */
  border-bottom: 1px solid #ccc; /* Optional: Add a subtle bottom border */
  border-radius: 5px;
  width: 90%;
  outline: none; /* Remove the default outline */
}

.subject-form input:focus {
  border-bottom: 1px solid #007bff; /* Optional: Add a color for focus state */
}

.subject-form-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subject-form button {
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Media queries for larger screens */
@media (min-width: 600px) {
  .subject-inputs {
    flex-direction: row;
  }

  .subject-inputs div {
    flex: 1;
  }

  .subject-form-buttons {
    flex-direction: row;
    justify-content: flex-start;
  }

  .subject-form button {
    width: auto;
  }
}
