.storybook-button {
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

.storybook-button--primary {
  color: white;
  background-color: #4c5156;
  transition: background-color 0.3s ease;
}

.storybook-button--primary:hover {
  background-color: #2b2e31;
}

.storybook-button--secondary {
  color: #333;
  background-color: #eee;
}

.storybook-button--secondary:hover {
  background-color: #bbbfc2;
}

.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}

.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}

.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}

/* Responsive styles for mobile */
@media (max-width: 768px) {
  .storybook-button--small {
    font-size: 10px;
    padding: 8px 14px;
  }

  .storybook-button--medium {
    font-size: 12px;
    padding: 9px 18px;
  }

  .storybook-button--large {
    font-size: 14px;
    padding: 10px 20px;
  }
}
